<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
  document.getElementById("registration-form").submit(); }
</script>

<h1>Registrierung Schnuppertag</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
</p>

<form action="/" method="post" id="registration-form">
  <label for="first-name">Vorname:</label>
  <input type="text" id="first-name" name="first-name" required />

  <label for="last-name">Nachname:</label>
  <input type="text" id="last-name" name="last-name" required />

  <label for="gender">Geschlecht:</label>
  <select id="gender" name="gender" required>
    <option value="female">Mädchen</option>
    <option value="male">Junge</option>
    <option value="not-specified">Keine Angabe</option>
  </select>

  <label for="email">E-Mail:</label>
  <input type="email" id="email" name="email" required />

  <label for="phone-number">Telefonnummer:</label>
  <input type="tel" id="phone-number" name="phone-number" required />

  <label for="residence">Wohnort:</label>
  <input type="text" id="residence" name="residence" required />

  <label for="current-school">Aktuelle Schule:</label>
  <input type="text" id="current-school" name="current-school" required />

  <label for="current-class">Aktuelle Klasse (Jahrgang):</label>
  <input type="text" id="current-class" name="current-class" required />

  <label for="department">Abteilung:</label>
  <select id="department" name="department" required>
    <option value="informatik">Informatik</option>
    <option value="medientechnik">Medientechnik</option>
  </select>

  <label for="termin">Mögliche Termine:</label>
  <select id="appointment" name="appointment" required>
    <option value="termin1">Termin 1</option>
    <option value="termin2">Termin 2</option>
    <option value="termin3">Termin 3</option>
  </select>

  <div></div>
  <button
    class="g-recaptcha"
    data-sitekey="{{captchaKey}}"
    data-callback="onSubmit"
    data-action="register"
  >Absenden</button>
</form>

<script>
  const appointments = [
  {{#each appointments}}
    { department: "{{department}}", isoDate: "{{isoDate}}" },
  {{/each}}
  ];

  console.log(appointments);

  const departmentSelect = document.getElementById('department');
  const appointmentSelect = document.getElementById('appointment');

  function refreshAppointments() {
    const department = departmentSelect.value;
    const departmentAppointments = appointments.filter((appointment) => appointment.department === department);

    appointmentSelect.innerHTML = '';
    departmentAppointments.forEach((appointment) => {
      const option = document.createElement('option');
      option.value = appointment.isoDate;
      option.textContent = `${appointment.isoDate.substring(8, 10)}.${appointment.isoDate.substring(5, 7)}.${appointment.isoDate.substring(0, 4)}`;
      appointmentSelect.appendChild(option);
    });
  }

  refreshAppointments();
  departmentSelect.addEventListener('change', () => refreshAppointments());
</script>