<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTL Leonding - Schnuppertag-Anmeldung</title>
    <meta name="author" content="HTL Leonding">
    <meta name="title" content="HTL Leonding - Die Digitalisierer: eine Ausbildung mit Zukunft">
    <meta name="description" content="Wir sind DIE Ausbildungsstätte für Informatik, IT-Medientechnik, Elektronik und Medizintechnik. HTL Leonding NEXT Level: the future is now.">
    <meta name="keywords" content="HTL, HTBLA, Informatik, Informationstechnologie, IT, Medientechnik, Elektronik, Technische Informatik, Medizintechnik, Softwareentwicklung, Medienproduktion, Matura, Schule, Bildungseinrichtung">
    <!-- favicons begin -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.htl-leonding.at/wp-content/uploads/2022/10/apple-touch-icon.png?x88093&amp;v=nextLevel">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.htl-leonding.at/wp-content/uploads/2022/10/favicon-32x32.png?x88093&amp;v=nextLevel">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.htl-leonding.at/wp-content/uploads/2022/10/favicon-16x16.png?x88093&amp;v=nextLevel">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="https://www.htl-leonding.at/wp-content/uploads/2022/10/safari-pinned-tab.svg?x88093&amp;v=nextLevel" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.htl-leonding.at/wp-content/uploads/2022/10/favicon.ico?x88093&amp;v=nextLevel">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- favicon end -->
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <section class="hero">
      <a href="https://htl-leonding.at" target="_blank"><img src="/htl-logo.svg" /></a>
      <h1>Anmeldung</h1>
    </section>

    {{{body}}}

    <footer>
      Impressum: <a target="_blank" href="https://www.htl-leonding.at">HTBLA Leonding</a>, Limesstraße 12-14, A-4060 Leonding, <a href="mailto:office@htl-leonding.ac.at" target="_blank">office@htl-leonding.ac.at</a>
    </footer>
  </body>

</html>